table {
  margin: 0;
}

tr.element-hover:hover {
  background: rgb(231, 231, 231);
}

mat-card {
  border-radius: 10px;
  padding: 0;
  margin: 0;
  padding-bottom: 1px;
  box-sizing: border-box;
}

mat-paginator {
  margin-top: 10px;
}

th.text-header {
  font-weight: bold;
  font-size: 14px;
}
/*
.mat-column-action {
  text-align: center;
} */

.toCenter {
  margin: 0 auto;
  display: block;
}

.title {
  font-family: Roboto;
  font-size: 28px;
  color: rgb(97, 97, 97);
  font-weight: 500;
}

.btnYellow {
  background-color: #ffc107;
}
.btnYellow:hover {
  background-color: #d9a50b;
}

.btn-edit {
  color: #4758b8;
}

.btn-edit:hover {
  background-color: #b0b6d8;
}

/* ::ng-deep .mat-tooltip  {
  background-color: red !important;
  color: white !important;
} */

.custom-tooltip ::ng-deep .mat-tooltip {
  background-color: red !important; /* Ganti dengan warna latar belakang yang diinginkan */
  color: white !important; /* Ganti dengan warna teks yang diinginkan */
}

.noData {
  font-family: Roboto;
  color: rgb(97, 97, 97);
  font-weight: 500;
  background-color: #f2f2f2;
}

::ng-deep .mat-form-field-infix {
  border-top: 0;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0;
  padding-top: 20px;
  padding-bottom: 14px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0;
  padding-left: 10px;
  padding-top: 10px;
}

.tengah {
  padding-top: 12px;
}

.button-aktifkan {
  color: #0d9c00;
}

.button-aktifkan:hover {
  background-color: #88db81;
}

.button-non-aktifkan {
  color: #f44a3e;
}

.button-non-aktifkan:hover {
  background-color: #ff9f98;
}

.button-abuabu {
  color: rgb(119, 119, 119);
}
.button-abuabu:hover {
  background-color: rgb(177, 177, 177);
}

.row-error {
  background-color: rgb(250, 228, 228);
  pointer-events: none;
}

.custom-dialog {
  overflow: auto; /* Munculkan scrollbar jika diperlukan */
}
